* {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: Montserrat;
}

@font-face {
    font-family: Strike;
    src: url(/src/Assets/Protest_Strike/ProtestStrike-Regular.ttf);
}
@font-face {
    font-family: Montserrat;
    src: url(/src/Assets/static/Montserrat-Light.ttf);
}


.aboutus-image {
    width: 100%;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: url('https://fiverr-res.cloudinary.com/images/q_auto,f_auto/gigs/220915480/original/b6823e6d2a5b3e8a0dfcc30748a35b95a77fe939/design-house-floor-plan-3d-modeling-and-rendering.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.aboutus-image > h1 {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    color: #D6D1A0;
    background-color: rgba(0,0,0,0.5);
    /* position: absolute; */
    font-family: Montserrat;
}
.aboutus-image > a {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    padding: 10px 20px;
    border-radius: 5px;
    color: #06112A;
    background-color: #D6D1A0;
    position: absolute;
    margin-top: 150px;
    font-family: Montserrat;
}

.aboutus-image > a:hover {
    background-color: #06112A;
    color: #D6D1A0;
}

@media screen and (max-width:896px) {
    .aboutus-image {
        width: 100%;
        height: 400px;
    }
    
    .aboutus-image > h1 {
        width: 100%;
        font-size: 20px;
    }
    .aboutus-image > a {
        display: flex;
        font-size: 14px;
        padding: 10px;
    }
}

.about-container {
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    padding: 100px;
    gap: 50px;
}

@media screen and (max-width:896px) {
    .about-container {
        width: 100%;
        min-height: 100vh;
        padding: 50px 0px;
        gap: 30px;
    }
}

.about-creativity {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 40px;
}

.about-creativity > h5 {
    display: none;
}

.about-creativity > img {
    width: 40%;
    height: 800px;
    object-fit: cover;
}

@media screen and (max-width:896px) {
    .about-creativity {
        width: 100%;
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        flex-direction: column;
        gap: 20px;
    }
    
    .about-creativity > h5 {
        display: flex;
        padding-left: 10px;
        font-size: 20px;
        color: #D6D1A0;
        font-family: Montserrat;
    }
    
    .about-creativity > img {
        width: 100%;
        height: fit-content;
        object-fit: cover;
    }
}

.about-creativity > .about-crt-text {
    width: 60%;
    height: 800px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    gap: 20px;
    color: #06112A ;
}

.about-crt-text > h5 {
    font-size: 17px;
    color: #D6D1A0;
    font-family: Montserrat;
}
.about-crt-text > h2 {
    font-size: 35px;
    color: #06112A;
    font-family: Montserrat;
}
.about-crt-text > p {
    font-size: 19px;
    line-height: 1.7rem;
    color: #06112A;
    font-family: Montserrat;
}
@media screen and (max-width:896px) {
    .about-creativity > .about-crt-text {
        width: 100%;
        height: fit-content;
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        flex-direction: column;
        gap: 10px;
        color: #06112A ;
        padding: 10px;
    }
    
    .about-crt-text > h5 {
        display: none;
    }
    .about-crt-text > h2 {
        font-size: 17px;
        color: #06112A;
        font-family: Montserrat;
    }
    .about-crt-text > p {
        font-size: 15px;
        line-height: 1.5rem;
        color: #06112A;
        font-family: Montserrat;
    }
}

.about-crt-text > .countup-con {
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.countup-con > .counter-box {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}

.counter-box > h2 {
    font-size: 50px;
    color: #06112A ;
    font-family: Montserrat;
}
.counter-box > p {
    color: #858584;
    font-size: 17px;
    font-family: Montserrat;
}

@media screen and (max-width:896px) {
    .about-crt-text > .countup-con {
        width: 100%;
        height: fit-content;
        padding: 30px 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
        background-color: #f5f5f2;
    }
    
    .countup-con > .counter-box {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 20px;
        border-bottom: 1px solid #858584;
        gap: 10px;
    }
    
    .counter-box > h2 {
        font-size: 30px;
        color: #06112A ;
        font-family: Montserrat;
    }
    .counter-box > p {
        color: #858584;
        font-size: 17px;
        font-family: Montserrat;
    }
}

.about-crt-text > img {
    width: 100%;
    height: 450px;
}
@media screen and (max-width:896px) {
    .about-crt-text > img {
        width: 100%;
        height: fit-content;
    }
}

.best-container {
    width: 100%;
    /* height: 300px; */
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
    padding: 50px;
    background-color: #06112A;
}

.find-con {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    gap: 20px;
}

.find-con > h2 {
    font-size: 30px;
    color: #D6D1A0;
    font-family: Montserrat;
}
.find-con > p {
    font-size: 20px;
    color: #D6D1A0;
    font-family: Montserrat;
}

.best-container > a {
    background-color: #D6D1A0;
    color: #06112A;
    padding: 10px 20px;
    border-radius: 5px;
    font-family: Montserrat;
}

@media screen and (max-width:896px) {
    .best-container {
        width: 100%;
        /* height: 300px; */
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 10px;
        padding: 10px;
        background-color: #06112A;
    }
    
    .find-con {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-direction: column;
        gap: 10px;
    }
    
    .find-con > h2 {
        font-size: 20px;
        color: #D6D1A0;
        font-family: Montserrat;
    }
    .find-con > p {
        font-size: 15px;
        color: #D6D1A0;
        font-family: Montserrat;
    }
    
    .best-container > a {
        background-color: #D6D1A0;
        color: #06112A;
        padding: 10px;
        font-size: 14px;
        border-radius: 5px;
        font-family: Montserrat;
    }
}

/* AGENT CONTAINER  */

.ouragent-header {
    width: 100%;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: url('https://res.cloudinary.com/damamkuye/image/upload/v1742212464/3D-real-estate-projects1_ifmnvp.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-size: 40px;
    gap: 30px;
    font-weight: 600;
}

.ouragent-header > div {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    font-family: Montserrat;
    font-size: 17px;
    color: #D6D1A0;
}

.ouragent-header > div > a {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-family: Montserrat;
    color: #D6D1A0;
}
.ouragent-header > div > a:hover {
    color: #06112A;
}

.ouragent-header > h2 {
    font-family: 70px;
    font-family: Montserrat;
    color: #D6D1A0;
}

@media screen and (max-width:896px) {
    .ouragent-header {
        width: 100%;
        height: 400px;
        display: flex;
        font-size: 30px;
        gap: 30px;
        font-weight: 600;
    }
    
    .ouragent-header > div {
        display: flex;
        font-size: 14px;
        color: #D6D1A0;
    }
    
    .ouragent-header > div > a {
        display: flex;
    }
    .ouragent-header > h2 {
        font-family: 30px;
        font-family: Montserrat;
        color: #D6D1A0;
    }
}

.ouragent-container {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    padding: 100px;
    gap: 40px;
}

@media screen and (max-width:896px) {
    .ouragent-container {
        width: 100%;
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        flex-direction: column;
        padding: 50px 10px;
        gap: 20px;
    }
}

.ouragents-details {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: flex-start;
    align-items: flex-start;
    gap: 40px;
}
@media screen and (max-width:896px) {
    .ouragents-details {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        gap: 40px;
    }
}

.each-agent {
    width: 100%;
    height: 370px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    background-color: #06112A;
    overflow: hidden;
    cursor: pointer;
    gap: 20px;
}

@media screen and (max-width:896px) {
    .each-agent {
        width: 100%;
        height: fit-content;
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        flex-direction: column;
        background-color: #06112A;
        overflow: hidden;
        cursor: pointer;
        gap: 20px;
    }
}

.each-agent > img {
    width: 100%;
    height: 250px;
    object-fit: cover;
    scale: 1.0;
    transition: all 0.3s ease-in-out;
}

.each-agent:hover > img {
    scale: 1.1;
    transition: all 0.3s ease-in-out;
}

.agent-details {
    width: 100%;
    /* height: 100px; */
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    padding: 10px;
    gap: 10px;
    overflow: hidden;
}

.agent-details > h4 {
    color: #D6D1A0;
    font-size: 13px;
    font-family: Montserrat;
}
.agent-details > a {
    color: #D6D1A0;
    font-size: 15px;
    font-family: Montserrat;
    font-weight: 600;
}
.agent-details > span {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}
.agent-details > span > a {
    color: #06112A;
    display: flex;
    align-items: center;
    font-size: 17px;
    font-family: Montserrat;
    background-color: #858584;
    padding: 5px;
    border-radius: 50%;
}

.agent-details > span > a:hover {
    background-color: #D6D1A0;
}