* {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}


.home-container {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    padding: 100px;
    gap: 40px;
    overflow: hidden;
}

@media screen and (max-width:896px) {
    .home-container {
        width: 100%;
        display: flex;
        padding: 10px;
        gap: 20px;
    }
}

.image-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    position: relative;
  }
  @media screen and (max-width:896px) {
    .image-container {
        width: 100%;
        height: fit-content;
    }
  }
  

  .explore-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    gap: 40px;
    padding: 20px 0;
  }
  @media screen and (max-width:896px) {
    .explore-container {
        width: 100%;
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        flex-direction: column;
        gap: 10px;
        padding: 0px 0;
    }
  }

  .explore-container > .category-con {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
  }

  .category-con > h4 {
    font-size: 25px;
    color: #06112A;
  }
  .category-con > h2 {
    font-size: 35px;
    color: #06112A;
  }

  @media screen and (max-width:896px) {
      .explore-container > .category-con {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 10px;
      }
      .category-con > h4 {
        font-size: 17px;
        color: #06112A;
      }
      .category-con > h2 {
        font-size: 20px;
        color: #06112A;
      }
  }

  .land-link {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
  }

  .land-link > a {
    width: 250px;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F3F5F1;
  }

  @media screen and (max-width:896px) {
    .land-link {
        width: 100%;
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        flex-direction: column;
        gap: 30px;
        padding: 10px;
      }
    
      .land-link > a {
        width: 100%;
        height: 250px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #F3F5F1;
      }
  }

  .land-link > a:hover {
    background-color: #06112A;
    color: #D6D1A0;
  }

  .land-link > a:hover > span {
    color: #D6D1A0;
    animation: land;
    transition: all 0.3s ease-in-out;
    animation-timing-function: 0s;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-fill-mode: both;
  }
  @media screen and (max-width:896px) {
    .land-link > a > span {
        color: #D6D1A0;
        animation: land;
        transition: all 0.5s ease-in-out;
        animation-timing-function: 1s;
        animation-duration: 5s;
        animation-iteration-count: infinite;
        animation-fill-mode: both;
      }
  }

  @keyframes land {
    0% {
        transform: rotateX(0deg); transition: all 0.3s ease-in-out;
    }
    0% {
        transform: rotateY(100deg); transition: all 0.3s ease-in-out;
    }
    100% {
        transform: rotateX(360deg); transition: all 0.3s ease-in-out;
    }
  }

  .land-link > a > span {
    display: flex;
    flex-direction: column;
    gap: 20px;
    color: #06112A;
  }

.each-pro-states {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.each-pro-states > span {
    /* width: 100%; */
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    justify-content: center;
    gap: 20px;
}

@media screen and (max-width:896px) {
    .each-pro-states {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .each-pro-states > span {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 20px;
    }
}

.each-pro-states > span > a {
    width: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    border-bottom: 0.1px solid #e5e5e5;
    padding: 10px;
    cursor: pointer;
    color: #06112A;
    font-size: 20px;
}

.each-pro-states > span > a > button {
    width: 120px;
    border: none;
    padding: 5px 10px;
    color: #D6D1A0;
    cursor: pointer;
    border-radius: 3px;
}
@media screen and (max-width:896px) {
     .each-pro-states > span > a > button {
        color: #06112A;
     }
}

.each-pro-states > span > a > button:hover {
    background-color: #D6D1A0;
    color: #06112A;
}

.featured-container {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    gap: 40px;
}

@media screen and (max-width:896px) {
     .featured-container {
        width: 100%;
        display: flex;
        text-align: center;
        gap: 30px;
        padding: 30px 0;
     }

     .our-property-con {
        display: flex;
        flex-direction: column;
        gap: 10px;
     }
}

.sunny-pro-container {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 40px;
}

.sunny-property {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    gap: 0px;
}

@media screen and (max-width:896px) {
    .sunny-pro-container {
        width: 100%;
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        flex-direction: column;
    }
    
    .sunny-property {
        width: 100%;
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        flex-direction: column;
        gap: 0px;
    }
}

.sunny-property:hover > .sunny-text {
    background-color: #fff;
    transition: all 0.3s ease-in-out;
    box-shadow: 0px 0px 3px 0px lightgray;
}

.sunny-img {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    position: relative;
}

.sunny-img > img {
    width: 100%;
    height: 250px;
    object-fit: cover;
    cursor: pointer;
}

.sunny-img > h3 {
    position: absolute;
    padding: 5px 10px;
    border-radius: 4px;
    margin: 10px ;
    color: #D6D1A0;
    background-color: #06112A;
}

.sunny-text {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    gap: 15px;
    padding:20px 25px;
    background-color: #F3F5F1;
    transition: all 0.3s ease-in-out;
}

.sunny-text > span {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.sunny-text > span > h5 {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    font-size: 15px;
    color: #06112A;
}
.sunny-text > span > h5 > img {
    width: 40px;
    height: 40px;
    object-fit: cover;
    border-radius: 50%;
}

.sunny-text > h3 {
    color: #06112A;
    font-size: 18px;
}

.sunny-text > h1 {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
    font-size: 14px;
}
.sunny-text > h1 > h6 {
    font-size: 13px;
    display: flex;
    align-items: center;
    gap: 2px;
    color: #858584;
}
.sunny-text > h1 > p {
    font-size: 12px;
}

.sunny-text > p {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 30px;
}

.sunny-text > p > h5 {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 5px;
    color: #858584;
    font-size: 16px;
}